.contextual
  = link_to l(:button_add), {:action => :new, :project_id => @project}, :class => 'icon icon-add'
  = link_to l(:button_update), {:action => :edit, :id => @object}, :class => 'icon icon-edit'
  = link_to l(:button_delete), {:action => :destroy, :id => @object}, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'

%h2
  = link_to l(:label_contract_request_plural), :action => :index
  &#187;
  = h(@object.contract_subject)

.issue.details
  %table.attributes
    %tr
      %th= l(:field_contract_subject)+":"
      %td= h(@object.contract_subject)
      %th= l(:field_contract_type)+":"
      %td= h(@object.contract_type)
    %tr
      %th= l(:field_contract_organization)+":"
      %td= h(@object.contract_organization)
      %th= l(:field_contact)+":"
      %td= h(@object.contact)
    %tr
      %th= l(:field_contract_price)+":"
      %td= h(@object.contract_price)
      %th= l(:field_project)+":"
      %td= link_to_project @object.project
    %tr
      %th= l(:field_contract_time)+":"
      %td= h(@object.contract_time)
      %th= l(:field_contract_settlement_procedure)+":"
      %td= h(@object.contract_settlement_procedure)
    %tr
      %th= l(:field_created_on)+":"
      %td= format_date(@object.created_on)
      %th= l(:field_author)+":"
      %td= link_to_user @object.author
  %hr
  %p
    %strong= l(:field_contract_other_terms)
  .wiki= textilizable @object, :contract_other_terms
  %p
    %strong= l(:field_contract_attachments)
  .wiki= textilizable @object, :contract_attachments

- if @journals.present?
  #history
    = render :partial => 'issues/history', :locals => { :issue => @issue, :journals => @journals }
